<%- include ('partials/header.ejs') %>
<body>
<%- include ('partials/nevbar.ejs') %>
<div class="container" >

<h1 id = topo>PERGUNTA-AI!!</h1>

<a href="/perguntar" class="btn btn-dark">Perguntar</a>
<hr>
    <% perguntas.forEach(pergunta=>{ %>
        <br>

    <div class="card" >
        <div class="cardbody">
        <h1><%=pergunta.titulo %></h1>
        <h4><%=pergunta.descricao %></h4> 

    </div>
        <div class="card-footer" >
           <a  href="/pergunta/<%= pergunta.id%>"><button class= "btn btn-primary" >Responder</button> </a>
        </div>       
     </div>
  <%  }) %>
</div>

</body>
<%- include ('partials/footer.ejs') %>